doctype html5
html(ng-app='<%= _.slugify(appname) %>')
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Browserify
    <% if (!includeLess) { %>link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')<% } %>
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='/js/app.js')
